/* Style for the form container */
.form-container {
    max-width: 1000px;
    margin: auto;
}

/* Style for the form fields */
.form-floating {
    margin-bottom: 200px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Style for the range input */
.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-range {
    width: 100%;
}

/* Style for the submit button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
